.form{
    display: flex;
    padding-top: 20px;
    width: 700px;
    height: 300px;

}
.editar{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: 35%;
}
.show-grid{
    width: 500px;
}