.borderForm{
    background: whitesmoke;
    height: auto;
    align-content: center;
}
form{
    width:60%;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#f0f0f0;
}
.botonAgregar{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
.datosPersonales{
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
    font-size: 24px;
}
.carnet{
    display: flex;
    margin-left: 10rem;
    font-size: 12px;
}
.buttonGroup{
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
}
.date{
    width: 29%;
    font-size: 15px;
    height: 2rem;
}