* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  
form{
    width:60%;
    height: 350px;
    justify-content: space-around;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#f0f0f0;
}
.datosPersonales{
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-around;
    font-size: 24px;
}
.date{
    font-size: 18px;
    width: 13rem;
    height: 1rem;
    padding-right: 1rem;
    color: #808080;
}
  
.err{
    border: red 5px solid;
    border-radius: 8px;
}